# Ignore generated protobuf Java sources vendored during local build
openfeature-provider/java/src/main/java/com/spotify/confidence/wasm/Messages.java
# Ignore generated protobuf Go sources
*.pb.go
# Ignore compiled Go binaries
openfeature-provider/go/demo/demo
.DS_Store
*.stamp
.idea/
.java-version

target/
wasm/confidence_resolver.wasm


