services:
  mock-go:
    build:
      context: .
      dockerfile: mock-support-server/Dockerfile
    environment:
      - PORT=8081
      - RESOLVER_STATE_PB=/data/resolver_state_current.pb
      - SIGNED_STATE_URI=http://mock-go:8081/state

  go-bench:
    build:
      context: .
      dockerfile: openfeature-provider/go/bench/Dockerfile
    depends_on:
      - mock-go
    command: ["-mock-grpc", "mock-go:8081", "-threads", "1", "-flag", "tutorial-feature", "-client-secret", "mkjJruAATQWjeY7foFIWfVAcBWnci2YF"]

  mock-js:
    build:
      context: .
      dockerfile: mock-support-server/Dockerfile
    environment:
      - PORT=8081
      - RESOLVER_STATE_PB=/data/resolver_state_current.pb
      - SIGNED_STATE_URI=https://storage.googleapis.com/state

  js-bench:
    build:
      context: .
      dockerfile: openfeature-provider/js/bench/Dockerfile
    depends_on:
      - mock-js
    command: ["-mock-http", "http://mock-js:8081", "-flag", "tutorial-feature", "-client-secret", "mkjJruAATQWjeY7foFIWfVAcBWnci2YF"]


