.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
src/proto/
dist/
.env.test

# Dummy Cargo package artifacts (used only for release-please dependency tracking)
Cargo.lock